/* Write your CSS here */
.event-item-container {
  margin: 25px;
}
.image-event-item {
  width: 200px;
}
.name-event-item {
  font-size: 18px;
  color: #ffffff;
  margin: 0px;
}
.location-event-item {
  font-size: 12px;
  margin: 0px;
  color: #ffffff;
}
.event-btn-container {
  background-color: transparent;
  border: none;
  text-align: start;
  cursor: pointer;
  outline: none;
}
